.loading{
    display: none;
}

.make-visible{
    display: inline-block;
}

.load-holder{
    text-align: center;
    display: block;
    margin-bottom: 18px;
}

.load-holder .loading{
    position: absolute;
    left: 50%;
}


.single-content-block .lugmety-tab .food-sidebar ul li.active:before{
    content: '-';
    color: #EB593B;
    margin-left: -11px;
    padding-right: 6px;
}

@media (min-width: 992px) {

    .home-search{
        display: inline-block;
        margin-top: 16px;
    }

}

.note-edit{
font-size: 5px;
}

/*==================================================================*/
.content-dashboard .panel-body{
    text-align: center;
}
.content-dashboard .panel-body a{
    font-size: 32px;
    color: #b6bd00;
    font-weight: 600;
    text-transform: uppercase;
}
.content-dashboard .panel-body a:hover{
    color: #9b9b15;
}
.content-dashboard .panel-body.panel-theme{
    height: 300px;
    position: relative;
}
.content-dashboard .panel-body.panel-theme h3 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-76%);
    font-size: 48px;
}
.content-dashboard .panel-body ul{
    margin-top: 10px;
    padding-left: 0;
}
.content-dashboard .panel-body ul li{
    list-style-type: none;
    margin-top: 5px;
}
.content-dashboard .panel-body ul li a{
    font-size: 20px;
    text-align: left;
    color: #342C2B;
    text-transform: none;
}
.content-dashboard .panel-body.all-theme h4{
    /*text-align: center;*/
}
.content-dashboard .panel-body.all-theme{
    text-align: left;
    height: 300px;
}
.content-dashboard .panel-body.all-theme .comments-list li{
    border-bottom: 1px solid #dedede;
}
.content-dashboard .panel-body.all-theme .comments-list li a h6{
    font-size: 16px;
    font-weight: 500;
}
.content-dashboard .panel-body.all-theme .comments-list li a p{
    font-size: 14px;
    font-weight: 300;
}
.content-dashboard .panel-body.all-theme .comments-list li:last-child{
    border-bottom: none;
}
