/* 	
	Kenwood: Print CSS
*/

/*Remove Element*/
.accessibilityNav,
#masterHead .utilNav,
#masterHead .block,
#topNav,
#content .wingLeft,
#content .wingRight,
#content .breadcrumbs,
.superfooter .col,
.superfooter .bl ul,
#toolBar,
.sectionBox,
.tabs,
.heroNav,
.imageSlider,
.compareTools,
.pagination,
.recipeOverview ul.recipe,
.findSchool,
.homeCarousel .flex-control-nav,
#eucookielawcontainer,
.flex-direction-nav,
.social,
.print,
.st_pinterest_hcount,
.st_googleplus_hcount,
.st_facebook_hcount,
.st_twitter_hcount,
.productSlider,
.disqus,
.cartUtilNav,
.pageTools,
.bl-links  		{ display:none!important; }

*	{ background-image:none}

 
/* generic style */
body					{ margin:0; padding:0; font: 11px/1.33 Helvetica, Arial, sans-serif; color:#000; background: #fff;  }
UL, OL, DL    			{ page-break-before: avoid } 
tr, td, th				{ page-break-inside:avoid}
thead 					{ display:table-header-group}
.intro					{ padding: 0 0 .7em 0; }
blockquote				{ clear:both; margin:0}
.video em				{ display:none}
.logo					{ margin: 0;}

h1, h2, h3, h4, h5, h6	{ line-height :normal;}
h1		{ font-size: 22px; } 
h2		{ font-size: 18px; } 
h2		{ font-size: 16px; } 

.noPrint, .iconList i.icon, .icon 	{ display:none; }
.printFull			{ width:auto!important; float:none!important; }

.mainImg.colMain        { margin-right:15px!important; }
.rtl .mainImg.colMain   { margin-right:0!important; margin-left:10px!important;}

    
/* layout */
#content				{ margin:0; padding:0}
.section,
#content .section		{ width: 100%; min-height:0; min-width:0; padding:0; margin-bottom:0} 
.oneCol					{ width: 100%; padding: 0; } 
.colMain, .colAside		{ margin: 0 1px!important; } 

 
.ie .containe, 
.ie .section			{ min-width:0; width:auto!important; max-width:none}

/* Master head */
#masterHead		{ padding:0 0 10px 0; margin:0 0 20px 0; border-bottom: 5px solid #ccc}

/* hero */
.smallHero,
.largeHero				{ margin:0 0 1.5em 0; padding:0;} 	
.largeHero .heroContent	{ min-height:0; margin:0; padding:0; background:#fff}
.largeHero .heroText,
.largeHero .heroImg					{ padding-top: 0; margin:0}
.homeCarousel .print img			{ max-width: 100%}
.homeCarousel .slides .carouselTxt	{ padding:0; float:left; color:#333; }
.homeCarousel .slides li			{ min-height:0; }

.recipeOverview .mainImg img { margin-right: 10px;}
.rtl .recipeOverview .mainImg img { margin-right:0; margin-left: 10px;}

/* footer */
#footer .bl .copy	{ float:right; margin:0; text-align:right}
#footer .bl img		{ float:left}

/* related info */
#related .rTabs li a		{ padding: 0; vertical-align:top; }
#related .rTabs li a:before	{ content: url(../images/assets/print_arrow_right.png); padding: 0 5px 0 0;  } 


/* listings */
.category			{ margin:0}
.js ol.imgNumbers	{ list-style-type:decimal; margin: 0 0 1.5em 1.5em; }
.js ol.imgNumbers li{ overflow:visible; padding:0!important; }
/* rtl */
.js .rtl ol.imgNumbers	{ margin: 0 1.5em 1.5em 0; }

.frameLg, .imgFrame .frameSm					{ margin:5px 0; padding: 15px; border: 1px solid #ccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius:3px;}
.frameLg .inner, .imgFrame .frameSm .inner		{ padding: 0; }
.frameLgBase, .imgFrame .frameSmBase			{ display:none}
.imgFrame .frameSm								{ padding: 10px;}

/* links with arrow */
ul.next			{ margin: 0 0 1.5em 1.5em; list-style-image:url(../images/assets/bullet_grey.gif); list-style-type:none; }
ul.next li,
p.next, 
p.back			{ padding-left: 0; background:none; overflow:visible}
.listTwoCols li	{ padding:0}
/* rtl */
.rtl ul.next	{ margin: 0 1.5em 1.5em 0;}

/* refine by filter */
.refine h3				{ background-color:#fff; padding:0 0 5px 0}
.refine li a			{ background:none; padding:0}
.refine li a:before		{ content: url(../images/assets/bullet_checkbox.png); padding: 0 5px 0 0; float:left; }
.refine li.on a:before	{ content: url(../images/assets/bullet_checkbox_on.png) }
/* rtl */
.rtl .refine li a			{ padding:0; }
.rtl .refine li a:before	{ padding: 0 0 0 5px; float:right; }
.rtl .refine li.on a:before	{ float:right}

 
/* boxes  */
.box.style1,
.box.style2,
.box.style3					{ padding:10px; border: 1px solid #ccc; background-color: #fff; }	
.box.style1 .inner,
.box.style2 .inner,
.box.style3 .inner			{ padding:0; }
.box.style2 .js-header a	{ display:block; background:none; padding: 0!important; color:#333; }
.grad						{ background: #fff; padding: 0; -moz-box-shadow: none;-webkit-box-shadow: one;box-shadow: one;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
/* JS show-hide content - expand all for print */
.js .faq .js-body,
.js .box .js-body,
.js .specs .js-body			{ display:block!important; padding:0!important}
.js .js-header			{ padding: 0!important;}
.box.style2 .js-header	{ margin-bottom: 0.5em}
.js .faq				{ margin: 0 0 1.5em 1.5em; list-style-image:url(../images/assets/bullet_grey.gif); list-style-type:none; }
/* rtl */
.js .rtl .faq			{ margin: 0 1.5em 1.5em 0!important; }
.rated					{ display:none; }
/* pdf downloads */
ul.pdf li,
p.pdf					{ min-height: auto; padding: 5px 0!important; margin:0; overflow:hidden; }
ul.pdf li:before,
p.pdf:before			{ content: url(../images/assets/bullet_pdf.gif); padding: 0 5px 0 0; float:left; } 
/* rtl */
.rtl ul.pdf li:before,
.rtl p.pdf:before		{ float:right; padding: 0 0 0 5px;}

/* headers within boxes, large icons */
.download em,
.announcement em			{  width: auto; height:auto; margin-right: 0 }
.rtl .download em,
.rtl .announcement em		{ margin-left:0; }


/* Buttons */
.button					{ border: 1px solid #ccc; padding:5px 10px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;}
.button a, 
.button input, 
.button button			{ padding: 0; height: auto; background:none; color:#333!important; }
.button input, 
.button button			{ height: auto; padding: 0!important;  }
.button i,
.button em				{ display:none}

/* specs/compare */
#compare a.remove,
#compare .button,
.productCarousel,
#compare .box.style2.radius3	{ display:none!important}

.specs				{ font-size: 11px!important}
.specs h3			{ font-size: 12px!important; line-height:2; border-bottom:2px solid #e3e3e3; -webkit-border-radius:0; -moz-border-radius: 0; border-radius: 0; } 
.specs li			{ padding:5px 0!important; margin: 0!important; border-bottom: 1px solid #eee}
.specs li.diff		{ background-color: #fff!important;-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.specs li strong	{ text-align:left; margin:0}
.specs .odd			{ background-color:#fff; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

/* js drop-downs */
.specs .js-header	{ padding: 0}
.specs .js-header a	{ background:none; padding: 0; }
	
/* find a school form */
ol.mapresults li.header	{ padding:0; background-color:#fff; }
 
#overlay				{ position:absolute; top:0!important; left:0!important; width:100%!important; height:100%!important; background-color:#fff!important}

