/*
	* Kenwood 
	* Responsive CSS for screens > 480px (Desktop/Laptops/tablets) and old IE 7,8
	* Created by www.netcel.com
	* March 2012
*/


/* Table of Content 
=================================================================================================================== 
	#BASIC STYLES
	#SITE LAYOUT
	#GLOBAL SECTIONS
	#RE-USABLE COMPONENTS
	#UNIQUE PAGES
	#FORMS
	JAVASCRIPT WIDGETS	
	#MEDIA 
		 - @media only screen and ( max-width: 600px)
		 - @media only screen and ( max-width: 768px)
		 - @media only screen and ( max-width: 1024px) 
		 - @media only screen and ( max-width: 1280px)	 
	#IE6,7,8 BUGS  
*/



/* #BASIC STYLES
=================================================================================================================== */
/* figures & images */
.pullRight		{ float:right; margin: 0 0 10px 20px; max-width: 100%}
.pullLeft		{ float:left; margin: 0 20px 20px 0; max-width: 100% }
.box .pullRight	{ margin: 0 0 5px 10px;}
.box .pullLeft	{ margin: 0 10px 5px 0;}
/* @END */


 /* #SITE LAYOUT
=================================================================================================================== */
#content.container		{ max-width: 136.667em; } /* to keep the wings aligned with content */
.section				{ margin: 0 auto; max-width: 1220px; padding:0}  
 
.ie #page 				{ overflow:visible; } /* old IE enable the horizontal scrollbar */
.ie .section			{ width: 1220px; } 


/* side wings and shadows */
#content					{ position:relative; z-index:10}
#content .section			{ position:relative; z-index:20; }
#content .wingLeft,
#content .wingRight			{ height:100%; width:12.80%; background-repeat:no-repeat; position:absolute;} /* width: 210px/1400px */
#content .wingLeft			{ top:0; left:0; background-position: 100% 0; }
#content .wingRight			{ top:0; right:0; background-position: 0% 0;}
#content .wingLeft .shadow	{ display:block; position:absolute; top:0; right:0; width: 13px; height: 100%; background-repeat:no-repeat; background-position: 0 0; }
#content .wingRight .shadow	{ display:block; position:absolute; top:0; left:0; width: 13px; height: 100%; background-repeat:no-repeat; background-position: 0 0}

/* main columns */
.oneCol					{ clear:both; width: 96.7213%; padding: 0 1.6393%;} 
.twoCol50-50, 
.twoCol70-30,
.twoCol30-70,
.twoCol80-20, 
.twoCol20-80			{ width: 100%; padding: 0;} /*  1220px */
.colMain				{ float:left; margin: 0 0 0 1.6393%; } /* 20px/1220px */
.colAside				{ float:right; margin:0 1.6393% 0 0; } 
/* Two columns 50-50 */
.twoCol50-50 .colMain,
.twoCol50-50 .colAside	{ width: 47.5409%; } /* 580px/1220px */
/* Two columns 50-50 within other main collumn */
.colMain .twoCol50-50 .colMain 	{ margin: 0; width: 49%;}
.colMain .twoCol50-50 .colAside	{ width: 49%; margin: 0 0 0 2%;} 
.rtl .colMain .twoCol50-50 .colAside { margin:0 2% 0 0!important;}

/* Two columns 70-30 */
.twoCol70-30 .colMain	{ width: 63.9344%;} /* 780px/1220px */
.twoCol70-30 .colAside	{ width: 31.1475%;} /* 380px/1220px */

/* Two columns 30-70 */
.twoCol30-70 .colMain	{ width: 63.9344%; float:right;  margin:0 1.6393% 1.6393% 0;} /* 780px/1220px */
.twoCol30-70 .colAside	{ width: 31.1475%; float:left; margin: 0 0 0 1.6393%;} /* 380px/1220px */

/* Two columns 80-20 */
.twoCol80-20 .colMain	{ width: 72.1311%; } /* 880px/1220px */
.twoCol80-20 .colAside	{ width: 22.9508%; } /* 280px/1220px */

/* Two columns 20-80 */
.twoCol20-80 .colMain	{ float:right; width: 72.1311%; margin:0 1.6393% 1.6393% 0; } 
.twoCol20-80 .colAside	{ float:left; width: 22.9508%; margin: 0 0 0 1.6393%; } 
/* rtl CSS rules */
.rtl .colMain, 
.rtl .twoCol20-80 .colAside,
.rtl .twoCol30-70 .colAside	{ float:right; margin: 0 1.6393% 0 0;}
.rtl .colAside, 
.rtl .twoCol20-80 .colMain,
.rtl .twoCol30-70 .colMain	{ float:left; margin:  0 0 1.6393% 1.6393%; } 

/* components - listings */
/* 2 columns list */
.list2col>li, .list2col .col 				{ float:left; width: 49%; margin: 0 0 2% 2%; padding:0}
.list2col>li.first, .list2col .col.first	{ clear:both; margin-left:0; }
/* 3 columns list */
.list3col>li,
.list3col div.col			{ float:left; width: 32%; margin: 0 0 2% 2%; padding:0; }
.list3col>li.first,
.list3col div.col:first-child{ clear:both; margin-left:0; }
.ie7 .list3col>li,
.ie7 .frame .list3col>li,
.ie7 .list3col div.col		{ width: 31.5%; }

/* commerce addresses */
.items.list2col li                      { margin-bottom:15px; padding-bottom:15px}
.items.list2col li:nth-last-child(2)    { border:none}
.items.list2col li:nth-of-type(2n+1)	{ clear:both;} 
.rtl .items.list2col > li 				{ margin: 0 0 2% 1% !important;}

.list3col.js-synchHeights,
.list2col.js-synchHeights,
.list3col div.col,
.list2col div.col 			{ margin-bottom: 0!important; margin-top: 0!important; overflow:hidden;}
 
/* 4 columns list */
.list4col>li				{ float:left; width: 23.5%; margin: 0 0 2% 2%; padding:0}
.list4col>li.first			{ clear:both; margin-left:0; }
/*rtl */
.rtl .list2col>li, .rtl .list2col .col,
.rtl .list3col>li,
.rtl .list3col div.col,
.rtl .list4col>li			{ float:right; margin: 0 2% 2% 0!important; position:relative} /* relative position fix for IE7 - problem with jumping */
.rtl .list2col>li.first, 
.rtl .list2col .col.first,
.rtl .list3col>li.first,
.rtl .list4col>li.first,
.rtl .list3col div.col:first-child	{ margin: 0 0 2% 0!important }

/* reset second list */
.list2col li li,
.list3col li li,
.list4col li li,
.rtl .list3col li li,
.rtl .list4col li li		{ float:none; width: auto; margin: 0}

/* List of links in two cols */
.listTwoCols>li			{ float:left; width: 45%; }
/* RTL */
.rtl .listTwoCols>li	{ float:right; }

/* Product items in columns */
ul.items.couple li			{ border:none; float:left; width: 49%; margin-left:2%; }
ul.items.couple li.odd		{ clear:both; margin-left:0}
/* four columns  */
ul.items.four li			{ border:none; float:left; width: 20%; margin-left:5%; }
ul.items.four li.odd		{ clear:both; margin-left:0}
/* five columns  */
ul.items.five li			{ border:none; float:left; width: 18%; margin: 0 1% 20px 1%; }
/* rtl*/
.rtl ul.items.couple li		{ float:right; margin-right:2%; margin-left:0 }
.rtl ul.items.four li		{ float:right; margin-right:5%; margin-left:0 }
.rtl ul.items.couple li.odd,
.rtl ul.items.four li.odd	{ margin-right:0; margin-left:0}

/* blog listing */
.blog-items .blog-header 			{ position: relative; padding-right: 90px}
.blog-items .blog-header .rateGroup { position: absolute; right:0; bottom:-5px;}
.rtl .blog-items .blog-header 				{ padding-right:0; padding-left: 90px}
.rtl .blog-items .blog-header .rateGroup	{ right:auto; left:0;}
/* @END /*
 

/* #GLOBAL SECTIONS
=================================================================================================================== */
/* MASTER-HEAD */
.logoBox 						{ position:absolute; top: 5px; left:0; width: 24%; }
.utilContainer 					{ display: block; text-align:right; min-height: 48px; width:100%; }
/* display util nav */
.utilNav						{ display:inline-block; text-align:right; white-space: nowrap; text-align:right; margin: 0 0 10px 0; padding:0; list-style-image:none; }
.cartUtilNav 					{ clear:none; float:right; white-space: nowrap;}
.ie7 .utilNav 					{ margin: 0.6em 0 0 1em!Important; float:right;}

/* rtl */
.rtl .logoBox 					{ left:auto; right:0;}
.rtl .utilNav 					{ text-align: left}
.rtl .utilContainer 			{ text-align:left;} 
.rtl .cartUtilNav 				{ float:left;}

/* Search */
.siteSearch						{ float:right; text-align:right; width: 22%; margin:-2px 0 0 0 }
.siteSearch .inputTxt			{ width: 86%}
.siteSearch input[type="image"]	{ float:none}

.rtl .siteSearch				{ float:left}
.rtl .siteSearch .inputTxt		{ float:right; }


/* Country selector */
.utilNav .lang					{ position:relative; z-index: 22222; zoom:1}
.utilNav .lang>a				{ cursor: pointer; padding: 0 0 0 25px; margin-right:5px; }
.utilNav .lang>a span 			{ display:inline-block; padding: 0 20px 0 0; background: transparent url(../images/assets/sprite_icons.png) no-repeat 100% -1087px;}
.utilNav .lang>a span.m         { display:none;}
.utilNav .langCol				{ float:left; width: 50%}
.utilNav .selectLang			{ display:none; position:absolute; right:0; top:30px; color:#333; text-align:left; margin:0; padding:0 0 0 10px; width:400px; }
.utilNav .selectLang a			{ font-weight:normal; line-height:normal; }
.utilNav .selectLang dl					{ width:100%; margin:0 0 1em 0; padding:0; }
.utilNav .selectLang dl dd				{ margin:0; padding: 0; overflow:hidden}
.utilNav .selectLang p.close a			{ display:block; width:21px; height:21px; margin: -5px -5px 0 0; float:right; background: transparent url(../images/assets/sprite_icons.png) no-repeat 100% -360px;} 
.utilNav .selectLang p.close a:hover,
.utilNav .selectLang p.close a:focus	{ background-position:100% -410px;}
/* rtl */
.rtl .utilNav .lang a.selected		{ padding-left: 0; }
.rtl .utilNav .langCol				{ float:right; }
.rtl .utilNav .selectLang			{ padding:0 10px 0 0; right:auto; left:0;}
.rtl .utilNav .selectLang dl		{ text-align:right}
.rtl .utilNav .selectLang p.close a	{ margin: -5px 0 0 -5px; float:left; }
.rtl .utilNav .selectLang img		{ float:right; margin-left: 5px!important; margin-right:0!important}


/* TABS */
/* tabs 1st level */
#masterHead	.tabs li	{ width: auto; }
#masterHead	.tabs li a	{ min-height:0; padding: 12px 15px; font-size: 1.1em}
/* tabs 2nd level and drop-downs) */ 
#topNav .tabs			{ margin-right:-16px; }
#topNav .tabs li		{ float:left; margin-right: 2px; width: auto; }
#topNav .tabs li a		{ padding: 12px;  }
#topNav .tabs li.on b	{ background-position: 50% -1740px;}
.rtl #topNav .tabs li	{ float: right; margin-left:2px; margin-right:0; }
.ie7 .rtl #topNav .tabs > li	{ direction:ltr; } /* IE7 fix */

/* tabs in content and overlay area */
#overlay .tabs li a		{ padding: 12px 15px; }
#content .tabs			{ margin: 0; padding:0; overflow:hidden; background:#fff url(../images/assets/tab_fade.png) no-repeat 50% 100%; padding-bottom: 15px; }	
#content .tabs li		{ border-bottom: 2px solid #fff; float:left; }
#content .tabs li a		{ padding: 12px 7px; background-color:#e5e5e5; border: 1px solid #e5e5e5; border-bottom:none; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0;	border-radius: 5px 5px 0 0; }
#content .tabs li.on a	{ background-color: #fff; border: 1px solid #dbdbdb; border-bottom:none}
.rtl #content .tabs li,
.rtl #overlay .tabs li		{ float:right}
.ie7 .rtl #content .tabs,
.ie7 .rtl #overlay .tabs	{ direction:ltr;}


/* PAGE TOOLS */
#toolBar .pageTools		{ float:right;}
#toolBar .social		{ float:left; }
#toolBar .social ul li	{ width:auto}

/* Floating (sticky) footer. Desktop users and IE9+ */
@media screen and (min-width: 800px) and (min-height:700px) {
	.floating-footer #footer-bottom 	{ padding-bottom: 75px; }
	.floating-footer #toolBar.container { position: fixed; z-index: 999999998; bottom: 0; left: 0; right: 0; min-height: 45px;}
	.floating-footer #toolBar			{ background: #e6e6e6 url(../images/assets/sprite_bg_layout.png) repeat-x 0 0; padding: 5px 0 2px 0;}
}


/* FOOTER  ============================================================================= */
#footer .section		{ margin: 20px auto 0 auto;} /* width:980px*/
#footer .col 			{ float:left; margin: 0 2% 10px 0; }
#footer .colNo5 .col	{ width: 18%; }
#footer .colNo4 .col	{ width: 23%; }
#footer .colNo3 .col	{ width: 31%; }
#footer .colNo2 .col	{ width: 48%; }
#footer .colNo1 .col	{ width: 98%; }
.rtl #footer .col		{ float:right; margin: 0 0 20px 2%}

/* bottom links */
#footer-bottom .section	 		{ margin: 0 auto; }
#footer-bottom .bl				{ padding: 15px 2%; }
#footer-bottom .bl.noBorder		{ border-top: none; padding: 10px 0 0 0; }
#footer-bottom .bl ul			{ float: right; text-align:right; width: 60%; margin:0;}
#footer-bottom .bl .copy		{ float:left; width: 35%}

#footer-bottom .pageTools  		{ min-width: 0; position:absolute; border: none; padding: 15px;}
#footer-bottom .pageTools ul	{ text-align:left }

.rtl #footer-bottom .pageTools  	{ right:auto; left:0;}
.rtl #footer-bottom .pageTools ul	{ text-align:right }
.rtl #footer-bottom .bl-links ul	{ float: left; text-align:left; }
.rtl #footer-bottom .bl .copy		{ float:right; }
 
/* show only for mobiles */
#footer .utilNav,
#mobilefooter		{ display:none; }	
/* @END footer */


/* #RE-USABLE COMPONENTS  ============================================================================= */
/* small hero */
.smallHero							{ background: #ededed url(../images/assets/bg_hero_small.png) no-repeat 50% 0; padding: 48px 2% 5px 2%; margin: 0 0 20px 0; }
.smallHero h1						{ width: 60%; float:left; margin-bottom: 0.2em;}
.smallHero .groupButtons 			{ float:right; width: 40%; margin-top: -30px; text-align: right}
.ie7 .groupButtons .button 			{ float:right;}
.ie7 .smallHero .addToCartBox .prices {display:block;}

.rtl .smallHero h1					{float:right;}
 
@media only screen and (max-width: 768px) 	{
	.smallHero h1				{ width: 100%; float:none}
	.smallHero .groupButtons 	{ float:none; width: 100%; text-align: left; margin-top: 0} 
}
@media only screen and (max-width: 640px) 	{
	.smallHero	{ padding: 15px 2%; }
}
  

/* large hero */
.largeHero		 		{ position:relative; padding: 0 140px 0 2%; margin:0; background: #fff url(../images/assets/hero_fade.png) no-repeat 50% 0; }
.largeHero .heroContent	{ min-height:310px; padding: 0; width:100%; margin:0; background: transparent url(../images/assets/bg_hero_nav.png) no-repeat 100% 8px; }
.largeHero .heroImg		{ float:right; width: 44%; margin:50px 3% 0 0} /* opt1: 440/820=54%; opt2: 300/820=37% */
.largeHero .heroText	{ float:left; padding-top: 55px; width: 50%; margin-right:1%; } /* opt1: 360/820=44%; opt2: 500/820=61%*/
.largeHero .heroNav 	{ position:absolute; top:10px; right:0; width: 140px; margin:0; }
.largeHero .heroNav li	{ padding: 0 20px 10px 20px; float:none; width:auto; }
  
/* breadcrumbs *******************/
.breadcrumbs	{ display:block; position:absolute; top: 10px; left:1.5%; padding: 7px 8px; margin: 0 2% 0 0; font-size:0.92em; z-index: 1000; overflow:hidden; background:transparent url(../images/assets/logo_breadcrumb.png) 5px 4px no-repeat; border: 1px solid #fbfbfb; 
	transition: all 0.6s linear;
	-moz-transition: all 0.6s linear; 
	-webkit-transition: all 0.6s linear; 
	-o-transition: all 0.6s linear; 
}
.breadcrumbs:hover	{ border: 1px solid #ddd; background-color:#fff; -moz-box-shadow: 0 0 2px #dedede; -webkit-box-shadow:  0 0 2px #dedede; box-shadow:  0 0 2px #dedede;}
.breadcrumbs ol		{ margin:0 0 0 10px; margin-right:-1500px; padding:0; list-style:none; float:left; opacity: 0.4;
	transition: all 0.6s linear;
	-moz-transition: all 0.6s linear; 
	-webkit-transition: all 0.6s linear; 
	-o-transition: all 0.6s linear; 
}
.breadcrumbs:hover ol			{ margin-right:0; opacity:1; }
.breadcrumbs ol li				{ float:left; margin: 1px 7px 2px 0; padding:0; color:#878787; }
.breadcrumbs ol li:before		{ content: "/"; margin: 0 7px  0 0}
.breadcrumbs ol li.first:before	{ content: ""; visibility:hidden; height: 0; }
.breadcrumbs a.here				{ color:#878787; float:left; text-decoration:none; padding: 1px 0 0 20px; display:block; font-weight:bold; white-space:nowrap;  overflow:hidden}
.breadcrumbs ol a				{ text-decoration:none; }
.breadcrumbs ol a:active,
.breadcrumbs ol a:hover,
.breadcrumbs ol a:focus			{ text-decoration:underline;} 
/* rtl */
.ie7 .rtl .breadcrumbs				{ display:none; }
.rtl .breadcrumbs ol li				{ float:right; margin: 1px 0 2px 7px; }
.rtl .breadcrumbs ol li:before		{ content: "/"; margin: 0 0 0 7px }

/* expand breadcrumbs */
.breadcrumbs.expand 	{ border: 1px solid #ddd; background-color:#fff; -moz-box-shadow: 0 0 2px #dedede; -webkit-box-shadow:  0 0 2px #dedede; box-shadow:  0 0 2px #dedede; opacity:0.85;}
.breadcrumbs.expand ol 	{ margin-right:0!important; opacity:1!important; }
 
/* Colour picker */
.colourPicker .inner,
.colourPicker .inner:hover	{ width: auto; }

/* pagination */
.pagination fieldset	{ float:left; }
.pagination ul			{ float:right; margin-top:2px; }

/* blog filter */
.contentFilter p 		{ margin:0 0 0 10px; }
.contentFilter .txt 	{ float:left; }
.contentFilter .button 	{ clear:none; float:right; margin:0;}
/* rtl */
.rtl .contentFilter p 		{ margin:0 10px 0 0; }
.rtl .contentFilter .txt 	{ float:right; }
.rtl .contentFilter .button 	{ float:left;}

/* section box (above the footer) */
.sectionBox				{ margin:3% 1.6393%!Important;}
.sectionBox li			{ float:left; width: 25%; border:none; margin: 0 0 -50em 0; padding: 0 0 50em 0; background: url(../images/assets/bg_dot.gif) repeat-y 0 0;}
.sectionBox li.first 	{ background:none}
.sectionBox li.full		{ margin-left:0}
.rtl .sectionBox li			{ float:right; background-position: 100% 0;} 
.ie7 .rtl .sectionBox li	{ position:relative; background:none}
 

/* intro with grad line */
.intro					{ padding-right: 15%;}
.intro.addLine			{ background: transparent url(../images/assets/tab_fade.png) no-repeat 50% 100%; padding-bottom: 1.3em; margin-bottom: 1em}
.intro.addTopBorder		{ clear:both; overflow:hidden; margin: 38px 0 0 0; padding: 1.5em 0 0 0; background: transparent url(../images/assets/tab_fade.png) no-repeat 50% 0;}/*product collection, where hero doesn't have tabs */
.colMain .intro.addLine	{ background: url(../images/assets/tab_fade_small.png) no-repeat 50% 100%; padding-right:0}
.promotional.addLine	{ background-image: url(../images/assets/tab_fade.png) }
.rtl .intro						{ padding-right:0; padding-left:15%}
.rtl .colMain .intro.addLine	{ padding-left:0}

/* compare products */
.category .button		{ float:left; }
.compareTools			{ float:right; text-align:right; }

/* recipes overview - Removing for new recipe page*/
/*.recipeOverview .mainImg{ float:left; width: 66%; margin-right: 2%;}
.recipeOverview .body	{ float:left; width: 31%;}  */

/* what's in the box */
.inTheBox li			{ float:left; width: 45%; margin: 0 0 8% 0}
.inTheBox li.first		{ clear:both; margin-right:10%}
.rtl .inTheBox li		{ margin: 0 0 8% 0}
.rtl .inTheBox li.first	{ margin-left:8%; margin-right:0}

/* related content  show/hide links */
#related .rTabs li		{ float:left; }
.rtl #related .rTabs li	{ float:right; }

/* specs */
.specs li strong		{ width: 47%; margin:0 4%; text-align:right; }
.specs li span			{ width: 45%; text-align:left; }
.rtl .specs li strong	{ text-align:left}
.rtl .specs li span		{ text-align:right}


/* Promotions ********************** */
.promotions li 						{ float:left; margin-left:1.9%; }
.promotions li.first				{ clear:both; margin-left:0; }  
.promotions li img 					{ float:left; margin-right: 20px; }
.promotions li.promo-large img,
.promotions li.promo-medium img 	{ margin-bottom: 5px;}

.promotions li a>h2 				{ position:relative; min-height:2em; height: auto!important; height: 2em; }
.promotions li a>h2 span			{ position:absolute; bottom: 0; left:0; width: 100%}

.rtl .promotions li 				{ float:right; margin-left:0; margin-right:1.9%; }
.rtl .promotions li.first			{ margin-right:0; } 
.rtl .promotions li img 			{ float:right; margin-right:0; margin-left: 20px;} 

.promotions li.promo-large 			{ width:99.9%; margin-left:0; margin-right:0;}
.promotions li.promo-medium 		{ width:49%;}
.promotions li.promo-third 			{ width:32%;}
.promotions li.promo-small 			{ width:23.5%;}
.ie7 .promotions li.promo-medium 	{ width:48.9%;}
.ie7 .promotions li.promo-small 	{ width:23.4%;}

/* modern browsers */
.promotions li:first-child,
.colMain .promotions li.promo-small:nth-of-type(3n+1),
.oneCol li.promo-small:nth-of-type(4n+1),
.promotions li.promo-third:nth-of-type(3n+1)	{ clear:both; margin-left: 0; }
.rtl .promotions li:first-child,
.rtl .colMain .promotions li.promo-small:nth-of-type(3n+1),
.rtl .promotions li.promo-third:nth-of-type(3n+1),
.rtl .oneCol li.promo-small:nth-of-type(4n+1)	{ margin-right: 0; }

/* in 70 - 80% columns */
.colMain .promotions li.promo-small			{ width: 32%;}
.ie7 .colMain .promotions li.promo-small	{ width: 31.9%;}
.colMain .promotions li.promo-medium		{ width: 66%;}

@media only screen and ( max-width: 768px) {	
	.promotions li div.addShadow	{ padding: 10px; }
}
@media screen and (min-width: 480px) and (max-width: 766px) {
	.promotions li { clear:both; float:none; width:auto!important; margin-left:0; margin-right: 0}
	.promotions li img	{ margin-right:10px; max-width: 240px}
}
/* @END promotions */


/* key features hot-spots */
.keyFeatures				                { overflow:visible} 
.keyFeatures .hotspots li > a				{ text-indent:0}
.keyFeatures .hotspots li.displayLeft > a	{ text-align:right; }
.keyFeatures .hotspots li.displayRight > a	{ text-align:left; }
/* js enhancement */
.keyFeatures.js-style						{ min-height: 450px}
.keyFeatures.js-style .keyInfoBox			{ color:#fff; z-index: 100; position:relative; padding:13px 13px 3px 13px; font-weight:normal; text-align:left; border:1px solid #fff; background: #333; background: rgba(0,0,0,0.8); color:#fff; moz-box-shadow: 0 0 5px #555; -webkit-box-shadow: 0 0 5px #555; box-shadow: 0 0 5px #555; }
.keyFeatures.js-style .keyInfoBox .close	{ display:block; width:22px; height:22px; cursor:pointer; float:right; margin: -18px; background: transparent url(../images/assets/sprite_icons.png) no-repeat 100% -360px;}
.keyFeatures.js-style li.displayLeft .close	{ float:left}
.keyFeatures.js-style p						{ margin-bottom: 7px}
/* @END */


/* #UNIQUE PAGES   ============================================================================= */
/* Global country selector page*/
#globalLang .worldMap				{ float:right; width: 58%; margin-left:2%}
#globalLang .regions				{ float:left; width: 40%; margin-top: 1em; overflow:hidden; }
#globalLang .regions ul.twoCol		{ float:left; width: 48%; padding-right:2%; }
#globalLang .regions .k3			{ float:left; width: 48%; padding-right:2%; }
#globalLang .regions .k4			{ clear:none; float:right; width: 48%; }
#globalLang .regions .k1			{ clear:both}

/* all products page / sitemap */
#content .allProducts dl					{ margin: 0 1% 20px 0; padding:0; float:left; width:19%; } /* 5-cols */
#content .sitemap .allProducts				{ background: url(../images/assets/tab_fade.png) no-repeat scroll 50% 100% transparent; padding-bottom:20px; }
#content .sitemap h2						{ margin-bottom: .7em}
#content .sitemap .theRest .allProducts		{ margin: 0 2% 20px 0; padding:0; float:left; width:31%; background-image:none; }
#content .sitemap .theRest .allProducts dl	{ margin: 0; float:none; width:auto;}
/* rtl */
.rtl #content .allProducts dl				{ float:right; margin: 0 0 20px 1%; }		
.rtl #content .sitemap .theRest .allProducts{ float:right; margin: 0 0 20px 2%; }
.rtl #content .allProducts dl dd			{ padding: 0 10px 3px 0}

/* find a school form */
.findSchool				{ padding: 0 0 5px; }

 /* google map *************************** */
ol.mapresults li					{ overflow:hidden; word-spacing: -1em; }
ol.mapresults li.header				{ display:block; border:none; position:relative; padding-top:7px; padding-bottom:7px; background-color:#f2f2f2; font-weight:bold;}
ol.mapresults li.header .tel		{ text-align:center}
ol.mapresults li.header .distance	{ text-align:right}

ol.mapresults div					{ display:inline-block; word-spacing: normal;vertical-align: bottom;}
ol.mapresults span					{ position: absolute; left: -50000px; top: -50000px; }
ol.mapresults .address	 			{ width: 51%; margin-bottom:0; padding-left: 2%; }
ol.mapresults .tel		 			{ width: 25%; margin:0 2%; text-align:center; }
ol.mapresults .distance	 			{ width: 15.5%; text-align:right; }
* html ol.mapresults div{ display: inline } 
.ie7  ol.mapresults div { display: inline } 
/* @END */

 /* gallery next/prev buttons*/
.media .controls li a 				{ width: 33px; height: 58px; background: url(../images/assets/carousel_controls.png) no-repeat 0 0; position: absolute; top: 180px; }
.media .controls li .btnNext 		{ background-position: 100% 0; right: 0; left:auto}
.media .controls li .btnPrev 		{ left: 0;}
.media .controls li a:hover.btnNext	{ background-position: 100% -58px;}
.media .controls li a:hover.btnPrev	{ background-position: 0 -58px;}

/* zoom image gallery */
.media .imageGallery .mediaFrame	            { margin: 0 auto; max-width: 470px; } /* image size + 30px */
.media .imageGallery .frameLg .inner            { height: 330px; }

 /* don't make responsive, zoom won't work on ie7,8 */
.ie7 .media .imageGalleryNav li		    { display: inline}

div.videoGallery iframe.youtube,
div.media.frame iframe.youtube     { width:640px; height: 360px}
div#swfContainer div#Frame          { width:600px; height: 400px;} /* non-Flash 360, image ratio: 4:3; original image 400x300 */
.zoomControls .button				{ float:right; }

.skipLink							{ position:absolute; left:-99999px; top:auto; width:1px; height:1px; overflow:hidden; margin:0; padding:0} /* for small screens */

/* #FORMS  ============================================================================= */
.genericForm>fieldset			{ max-width: 410px; }
.colAside .genericForm>fieldset	{ width:auto; }
/* @END */

 
/* #JAVASCRIPT WIDGETS
=================================================================================================================== */
/* JS basic image slider ************************************ */ 
.imageSlider 						{ display:block; position: relative; margin:0 0 20px 0; overflow:hidden; }
.imageSlider a:active				{ outline: 0;}
.imageSlider .slides,
.imageSlider ul						{ margin:0; padding:0; list-style-image:none}
.imageSlider ul li					{ margin:0; padding:0}
.imageSlider .inner 				{ position: relative; width: 100%; margin: 0; padding: 0; background-color:#fff}
.imageSlider .inner .slides 		{ zoom: 1;}
.imageSlider .inner .slides > li 	{ position: relative; display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.imageSlider .inner .slides img 	{ width: 100%; display: block;}
/* Clearfix for the .slides element */
.imageSlider .slides:after 			{ content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .imageSlider .slides 	{ display: block;} 
* html .imageSlider .slides 		{ height: 1%;}
/* No JavaScript Fallback */
.no-js .imageSlider .slides > li:first-child { display: block;}
/* Caption style */
.flex-caption 						{ margin:0; padding:0; background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption						{ width: 96%; padding: 2%; margin:0; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff;  font-size: 14px; line-height: 18px;}
 /* Direction Nav - use for basic slider and home carousel */
.flex-direction-nav					{ margin:0; padding:0; width:100%; list-style-image:none; position:absolute; top:40%; left:0; overflow:visible!important}
.flex-direction-nav li a 			{ width: 33px; height: 58px; margin: 0; display: block; background: url(../images/assets/carousel_controls.png) no-repeat 0 0; position: absolute; top:0; cursor: pointer; text-indent: -9999em;}
.flex-direction-nav li .next 		{ background-position: 100% 0; right: 0;}
.flex-direction-nav li .prev 		{ left: 0;}
.flex-direction-nav li a:hover.next	{ background-position: 100% -58px;}
.flex-direction-nav li a:hover.prev	{ background-position: 0 -58px;}
.flex-direction-nav li .disabled 	{ opacity: .3; filter:alpha(opacity=30); cursor: default;}
/* Control Nav  */
.imageSlider .flex-control-nav 					{ position: absolute; bottom: -15px; right:10px; }
.imageSlider .flex-control-nav li 				{ margin: 0 0 0 5px; padding:0;	display: inline-block; zoom: 1; *display: inline;}
.imageSlider .flex-control-nav li:first-child	{ margin: 0;}
.imageSlider .flex-control-nav li a 			{ width: 13px; height: 13px; display: block; background: url(../images/assets/carousel_controls.png) no-repeat 0 -180px; cursor: pointer; text-indent: -9999px;}
.imageSlider .flex-control-nav li a:hover 		{ background-position: 0 -193px;}
.imageSlider .flex-control-nav li a.active 		{ background-position: 0 -206px; cursor: default;}
 

/* JS homepage carousel ************************************ */ 
.homeCarousel 						{ display:block; position: relative; margin:0 -1px; padding:0}
.homeCarousel h1					{ font-size: 2.8em;}
.homeCarousel a:active				{ outline: 0;}
.homeCarousel ul.slides,
.homeCarousel ul					{ margin:0; padding:0; list-style-image:none; }
.homeCarousel ul li					{ margin:0; padding:0;}
.homeCarousel .inner 				{ position: relative; width: 100%; margin:0; padding:0; }
.homeCarousel .inner .slides 		{ zoom: 1;}
.homeCarousel .inner .slides > li 	{ position: relative; display: none; } /* Hide the slides before the JS is loaded. Avoids image jumping */
/* Clearfix for the .slides element */
.homeCarousel .slides:after 		{ content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .homeCarousel .slides 	{ display: block;} 
* html .homeCarousel .slides 		{ height: 1%;}
/* No JavaScript Fallback */
.no-js .homeCarousel .slides > li:first-child { display: block;}
/* Control Nav  */
.homeCarousel .flex-control-nav 				{ position: absolute; bottom: -10px; right:10px; }
.homeCarousel .flex-control-nav li 				{ margin: 0 0 0 5px; padding:0;	display: inline-block; zoom: 1; *display: inline;}
.homeCarousel .flex-control-nav li:first-child	{ margin: 0;}
.homeCarousel .flex-control-nav li a 			{ width: 13px; height: 13px; display: block; background: url(../images/assets/carousel_controls.png) no-repeat 0 -180px; cursor: pointer; text-indent: -9999px;}
.homeCarousel .flex-control-nav li a:hover 		{ background-position: 0 -193px;}
.homeCarousel .flex-control-nav li a.active 	{ background-position: 0 -206px; cursor: default;}
/* Direction Nav - uses the basic slider css*/
/* content style */
.homeCarousel .slides .carouselTxt		{ width: 38%; margin: 0; padding: 35px 2% 0 4%; } 
.homeCarousel .slides li				{ min-height:350px; background-repeat: no-repeat; background-position: 100% 0;} 
.homeCarousel .slides h1				{ color:#cc092f; line-height:1.1; } 
.homeCarousel .slides h1 span			{ display:block; font-size: 0.444em} /* 16px */
.homeCarousel .slides h2				{ font-size: 2.167em; color:#7a7a7a; margin-bottom: 0.5em} /* 26px */
.homeCarousel .slides .big				{ font-size: 1.333em} /* 16px */
.homeCarousel .slides .bgWhite			{ background-color:#fff} /* default */
.homeCarousel .slides .bgBlack			{ background-color:#000; color:#fff}
.homeCarousel .slides .bgBlack h1		{ color:#fff}
.homeCarousel .slides .bgBlack h2		{ color:#7a7a7a;}
.fadeLine								{ display:block; height:15px; margin-bottom:0; background:transparent url(../images/assets/tab_fade.png) no-repeat 50% 1px; }
/* rtl */
.rtl .homeCarousel .flex-control-nav 	{ right:auto; left:10px; }
.rtl .homeCarousel .slides .carouselTxt	{ text-align:right} /* float:right; padding: 35px 4% 0 2%; */
.ie7 .rtl .homeCarousel .button			{ float:right}

/*  JS tabs ************************************ */
.dynamicTabs .tabs						{ padding:0!important; background-image:none!important; overflow:visible!important} 
.dynamicTabs .tabs li					{ border-bottom:none!important; }
.dynamicTabs .tabs li.tabs-selected a	{ background-color:#f2f2f2!important; color:#cc092f; bottom: -1px}
.dynamicTabs .tabs-content				{ clear:both; }
.dynamicTabs .tabs-content .inner		{ background-color:#fff; padding:10px; }
.dynamicTabs .tabs-panel				{ border:1px solid #dbdbdb; display:none; padding:10px; margin:0;
	background: #f2f2f2; 
	-webkit-border-radius: 0 3px 3px 3px;	
	-moz-border-radius: 0 3px 3px 3px; 	
	border-radius: 0 3px 3px 3px;
	background: -moz-linear-gradient(top, #f2f2f2, #d8d8d8);
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#d8d8d8));
	background: linear-gradient(top, #f2f2f2, #d8d8d8);
}
.dynamicTabs .tabs-panel-selected		{ display:block}
.dynamicTabs .tabs-selected a			{ font-weight:bold}
.js .dynamicTabs						{ border: none; background-color: #fff; padding: 0}
.js .dynamicTabs .tabs					{ display:block}
.js .dynamicTabs .tabs-content .inner 	{ margin:0; }
.js .dynamicTabs .offscreen				{ position: absolute; }
.ie7 .dynamicTabs .tabs-panel			{ padding-top: 5px;}
.ie7 .dynamicTabs  				        { position:relative;  }

/* Cookie Banner Extensions */
#eucookielawcontainer .bannerbuttons { width: 20%; float: right; text-align:right}
#eucookielawcontainer .bannercontent { width: 75%; float: left; }



 
/* subCatCarousel August 2012 */
.subCatCarousel 					{ display:block; position: relative; margin:0; padding:0; 
	-moz-box-shadow:  0px 0px 15px rgba(221, 221, 221, 1);
	-webkit-box-shadow:  15px #ddd; /* fix got HP touchpad */
	box-shadow:  0 0 15px #ddd;	
}
.ie7 .subCatCarousel,
.ie8 .subCatCarousel				{ border: 1px solid #eee;}
.subCatCarousel a:active			{ outline: 0;}
.subCatCarousel ul.slides,
.subCatCarousel ul					{ margin:0; padding:0; list-style-image:none; }
.subCatCarousel ul li				{ margin:0; padding:0;}
.subCatCarousel .inner 				{ position: relative; width: 100%; margin:0; padding:0; }
.subCatCarousel .inner .slides 		{ zoom: 1; margin:0; padding:0; width:100%; height:350px;}
.subCatCarousel .inner .slides > li { position: relative; display: none; } /* Hide the slides before the JS is loaded. Avoids image jumping */
/* No JavaScript Fallback */
.no-js .subCatCarousel .slides > li:first-child { display: block;}
.no-js .subCatCarousel .flex-custom-nav			{ display:none}
/* Control Nav  */
.subCatCarousel .flex-custom-nav 				{ list-style:none; position: absolute; bottom: 0; left:0; width:98%; margin:0; padding: 10px 0 5px 2%; z-index: 100000; background-color: #eee; background-color: rgba(212,212,212,0.8); }
.subCatCarousel .flex-custom-nav li 			{ margin: 0; padding:0; float:left; }
.subCatCarousel .flex-custom-nav li a 			{ display:block; padding: 0 10px 5px 10px; font-weight:bold; font-size: 0.92em; cursor: pointer; color:#000; text-decoration:none}
.subCatCarousel .flex-custom-nav li.active a,
.subCatCarousel .flex-custom-nav li a:hover,
.subCatCarousel .flex-custom-nav li a.active 	{ color:#CC092F}
.rtl .subCatCarousel .flex-custom-nav			{ left:auto; right:0}
.rtl .subCatCarousel .flex-custom-nav li 		{ margin: 0; padding:0; float:right; }

/* Direction Nav - uses the basic slider css*/
/* content style */
.subCatCarousel .slides .carouselTxt	{ float:left; width: 36%; margin: 0; padding: 20px 0 0 4%; } 
.subCatCarousel .slides .carouselImg 	{ float:right; width: 60%; padding:0; margin:0; }
.subCatCarousel .slides .carouselImg img{ display:block; max-height:100%; float:right} 
.subCatCarousel .slides h1				{ color:#cc092f; line-height:1.1; font-size: 2.8em;} 
.subCatCarousel .slides h1 span			{ display:block; font-size: 0.444em} /* 16px */
.subCatCarousel .slides h2				{ font-size: 2.167em; color:#7a7a7a; margin-bottom: 0.3em} /* 26px */
.subCatCarousel .slides .big			{ font-size: 1.333em} /* 16px */
.subCatCarousel .slides p				{ margin-bottom:1em}
.subCatCarousel .slides p.button		{ margin-bottom:3px}
.subCatCarousel .slides .bgWhite		{ background-color:#fff} /* default */
.subCatCarousel .slides .bgBlack		{ background-color:#000; color:#fff}
.subCatCarousel .slides .bgBlack h1		{ color:#fff}
.subCatCarousel .slides .bgBlack h2		{ color:#7a7a7a;}
.rtl .subCatCarousel .slides .carouselTxt	{ text-align:right} 


/* collection page */
.collectionCarousel .slides	{ margin: 0 10px; }



/*  ################################################### */
/*  ###################### @MEDIA ##################### */
/*  ################################################### */

@media only screen and (max-width: 1640px) 	{
	/* side wings and shadows */
	.section			{ width: 76%}
	#content .wingLeft,
	#content .wingRight	{ width: 12%}
}
@media only screen and (max-width: 1400px) 	{
	/* side wings and shadows */
	.section			{ width: 80%}
	#content .wingLeft,
	#content .wingRight	{ width: 10%}
}

@media only screen and (max-width: 1280px) 	{
	/* side wings and shadows */
	.section			{ width: 84%}
	#content .wingLeft,
	#content .wingRight	{ width: 8%}
}

@media only screen and (max-width: 1024px) {
	/* side wings and shadows */
	.section			{ width: 96%}
	#content .wingLeft,
	#content .wingRight	{ width: 2%; background-image:none!important; top: -1px; }	
}

@media only screen and (max-width: 900px) {
	.cartUtilNav 			{ clear:both; width: 98.5%; display:block; margin: 25px 1.5% 5px 0!important; padding: 7px 0 3px 0!important; border-top:1px solid #e5e5e5; position: relative;}
	.cartUtilNav:before 	{ content:""; position: absolute; top: 0; left:0; width:100%; height:1px; background-color: #fff;}
 	.siteSearch				{ position:absolute; top: 0; right:10px; width: 180px}
	#masterHead .utilNav    { margin-right: 200px;  } 	

	.rtl .cartUtilNav 			{ margin: 25px 0 5px 0px!important; }
 	.rtl .siteSearch			{ position:absolute; top: 0; right:auto; left: 0; }
	.rtl #masterHead .utilNav   { margin-right: 0!important; margin-left: 200px;  } 	

	/* recipes overview */
	/*.recipeOverview .mainImg, Remove for new recipe page
	.recipeOverview .body			{ float:none; width: 100%;}
	.recipeOverview ul.products li 	{ max-width:130px;}*/
}

@media only screen and ( max-width: 768px) {	

	/* side wings and shadows */
	.section			{ width: 98%}
	#content .wingLeft,
	#content .wingRight	{ width: 1%; }	

	/* main columns */
	#content .section	{ min-height: 0;}	
	.colMain,		
	.colAside,
	.rtl .colMain,	.rtl .colAside 	{ float:none; width: 96%!important; margin: 0 2%!important; } 
	.colMain .colMain, .colMain .colAside {width:100%!important; margin:0!important;}
	
	/* TABS - reduce paddings to fit more in one line */
	#masterHead	.tabs li a,
	#topNav .tabs li a,
	#overlay .tabs li a		{ padding: 10px 5px; }
	#content .tabs li a		{ padding: 10px 3px; }
	
	/* Footer */
	#footer .colNo5 .col					{ width: 31%; }
	#footer .colNo5 .col:nth-of-type(3n+1)	{ clear:both;} 

	#masterHead .utilNav li			{ display:none!important; } /* display links in the footer instead */
	#masterHead .utilNav li.lang 	{ display:block!important; margin: 0 10px;}
	#footer .utilNav				{ display:block; float:none; overflow:hidden; margin: 0 0 1.5em 0; padding: 0 0 1em 0; text-align:left; width: 100%; border-bottom: 5px solid #F2F2F2;}
	.rtl #footer .utilNav 			{ text-align: right;}
	
	/* Country selector */
	.utilNav .selectLang 		{ right:0; }	
	.rtl .utilNav .selectLang 	{ right:auto; left:0; }	
 
	
	/* content all products / top nav drop-downs: Full width all products */
	#topNav .dropdown.allProducts dl,
	#content .allProducts dl				{ width:31%; } /* 3-cols */
	#topNav .dropdown.allProducts dl.c6,
	#topNav .dropdown.allProducts dl.c11,
	#content .allProducts dl.c6,
	#content .allProducts dl.c11			{ clear:none; }
	#topNav .dropdown.allProducts dl.c4,
	#topNav .dropdown.allProducts dl.c7,
	#topNav .dropdown.allProducts dl.c10,	
	#content .allProducts dl.c4,
	#content .allProducts dl.c7,
	#content .allProducts dl.c10			{ clear:both}
	
	/* components - listings change to 3col */
	.list4col > li						{ width: 32%; }	
	.list4col > li.first				{ clear:none; margin-left:2%; }
	.list4col > li:nth-child(3n+1) 		{ clear:both; margin-left:0; } 	
	.rtl .list4col > li.first			{ margin-right: 2%; margin-left:0} 
	.rtl .list4col > li:nth-child(3n+1)	{ margin-right:0 }
	
	/* COMPONENTS */
	/* section boxes */
	.sectionBox li	{  width: 50%; }
	.sectionBox li:nth-child(2n+1) 		{ clear:both; background:none} 	
	
	/* what's in the box */
	.inTheBox li			{ width: auto; margin: 0 20px 20px 0!important}
	.inTheBox li.first		{ clear:none; }
	.rtl .inTheBox li		{ margin: 0 0 20px 20px!important}
	
	/*items in five clumns (compare product carousel) */
	ul.items.five li					{ width: 31%; margin: 0 1% 20px 1%; }
	ul.items.five li:nth-child(3n+1)	{ clear:both}
	
	/* JS homepage carousel */ 
	.homeCarousel .slides li				{ background-position: 120% 0} 
	.homeCarousel .slides h1				{ font-size: 2.15em; } 
	.homeCarousel .slides h1 span			{ font-size: 0.6em} 
	.homeCarousel .slides h2				{ font-size: 1.8em} 
	.homeCarousel .slides .big				{ font-size: 1.15em} 
	.homeCarousel .slides .carouselTxt 		{ background: rgba(255,255,255,.8); width: 35%; margin: 10px 0 10px 10px; padding: 15px 10px 0 15px;}
	.homeCarousel .slides .bgBlack .carouselTxt	{ background: rgba(0,0,0,.7);}
	
	/* JS sub-category carousel */ 
	.subCatCarousel .slides h1				{ font-size: 2.15em; } 
	.subCatCarousel .slides h1 span			{ font-size: 0.6em} 
	.subCatCarousel .slides h2				{ font-size: 1.8em} 
	.subCatCarousel .slides .big			{ font-size: 1.15em} 
	.subCatCarousel .slides .carouselTxt 	{ background: rgba(255,255,255,.8); width: 44%; margin:2% 1% 1% 3%; padding: 1%}
	.subCatCarousel .slides .carouselImg 	{ width: 50%; }
	.subCatCarousel .slides .carouselImg img	{ margin-right: -100px}
	.subCatCarousel .slides .bgBlack .carouselTxt	{ background: rgba(0,0,0,.7);}
	
	/* key features hot-spots */
	.keyFeatures .hotspots li.displayLeft .keyInfoBox		{ margin-left: 45px; width:200px} 
	.keyFeatures .hotspots li.displayRight .keyInfoBox		{ margin-left: -45px; width:200px} 
	
	/* Global country selector page*/
	#globalLang .worldMap				{ width: 50%; }
	#globalLang .regions				{ width: 48%; }
	
    #toolBar .pageTools,
    #toolBar .social		{ float:none; }

}

@media only screen and ( max-width: 640px) {
	/* side wings and shadows */

	#content .wingLeft,
	#content .wingRight { display:none}	

	.utilNav .selectLang	{right: -130px; }
	
	/* figures & images */
	.pullRight img, .pullLeft img		{ max-width: 220px; }	
	
	/* key features hot-spots */
	.keyFeatures                    { overflow:hidden}
	.keyFeatures .hotspots li > a	{ text-indent:-999em; }
	.keyFeatures .hotspots li.displayLeft > a,
	.keyFeatures .hotspots li.displayRight > a	{ text-align:left; }
	
	/* FOOTER */
	#footer .section,
	#footer-bottom .section			{ margin: 20px 10px 0 10px; width:auto}
	#footer .col					{ width: 48%!important; }
	#footer .col.last 				{ text-align: left;}
	#footer .col:nth-of-type(2n+1)	{ clear:both;} 

	/* tabs in content and overlay area */
	#content .tabs			{ margin-bottom: 30px; padding:2%; background:#f4f4f4; overflow:hidden; }	
	#content .tabs li		{ float:none; border:none; }
	#content .tabs li a		{ padding: 8px 10px; background-color:#fff; border:none; border-bottom:1px solid #ececec; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; behavior: none;}
	#content .tabs li.on a	{ border: none; border-bottom:1px solid #ececec;}	
	.rtl #content .tabs li	{ float:right}

	.intro	{ padding:0 0 0.5em 0!important}
	/* components - listings change to 2col */
	.list2col .col,
	.list2col>li 						{ float:none; width:auto; margin: 0 0 2% 0;}
	.list4col > li						{ width: 49%; }	
	.list4col > li:nth-child(3n+1) 		{ clear:none; margin-left:2%; } 	
 	.list4col > li:nth-child(2n+1) 		{ clear:both; margin-left:0; } 
 	.list3col div.col					{ float:none; width: auto; margin: 0; padding:0; }

	.items.list2col li:nth-last-child(2)	{ border-bottom: 1px dotted #ccc;}
 	.items.list2col li:nth-last-child    	{ border:none}
 	
 	.rtl .list4col > li:nth-child(3n+1) { margin-left:0; margin-right:2%} 
 	.rtl .list4col > li:nth-child(2n+1) { clear:both; margin-right:0; } 	
	
	/* specs - remove columns */
	.specs	{ float:none; width: auto; margin-right:0;} /* columns in IE6 - 8 */
	
	/*items in two/four/five clumns (e.g. cooking tabs) */
	ul.items.couple li		{ float:none; width: auto; margin-left:0; }
	ul.items.four li		{ width: 30%; margin-left:3%; }
	ul.items.four li.odd	{ clear:none; margin-left:3%;}
	ul.items.four li:nth-child(3n+1)	{ clear:both; margin-left:0; }
	
	/* rtl */
	.rtl ul.items.four li.odd				{ clear:none; margin-left:0; margin-right:3%}
	.rtl ul.items.four li:nth-child(3n+1)	{ clear:both; margin-right:0; }
	
	/* hero, breadcrumbs *******************/
	.breadcrumbs,	
	.imageSlider			{ display:none; }

	/* large hero */
	.largeHero		 		{ margin-bottom: 20px; }
	.largeHero .heroText,
	.largeHero .heroImg		{ clear:both; margin:0; padding:20px 0; float:none; width:auto; } 
	
	
	/* Compare columns */
	#compare .col						{ width: 48%; } 
	
	/* content all products */
	#content .allProducts dl				{ width:48%; } /* 2-cols */
	#content .allProducts dl.c1,
	#content .allProducts dl.c3,
	#content .allProducts dl.c5,
	#content .allProducts dl.c7,
	#content .allProducts dl.c9,
	#content .allProducts dl.c11			{ clear:both; }
	#content .allProducts dl.c2,
	#content .allProducts dl.c4,
	#content .allProducts dl.c6,
	#content .allProducts dl.c8,
	#content .allProducts dl.c10,
	#content .allProducts dl.c12			{ clear:none}	
	#content .sitemap .theRest .allProducts	{ width:48%; } /* 2 cols */
	
	/* Global country selector */
	#globalLang .worldMap,
	#globalLang .regions				{ float:none; width: auto; }
	
	div.videoGallery iframe.youtube,
	div.media.frame iframe.youtube     { width:480px; height: 270px}/* youTube mobile recommanded sizes  */
	div#swfContainer div#Frame          { width:450px; height:300px; } /* non-Flash 360, image ratio: 4:3; original image 400x300 */

	
	/* Cookie Banner Extensions */
    #eucookielawcontainer .bannerbuttons,
    #eucookielawcontainer .bannercontent { width: auto; float: none; }

	
	/*  JS tabs <= 600px ) ************************************ */ 
	.dynamicTabs						{ border: 1px solid #dbdbdb!important; background-color: #f2f2f2!important; padding:10px}
	.dynamicTabs .tabs 					{ display:none!important}
	.dynamicTabs .tabs-content .inner	{ margin:10px!important; }	
	.dynamicTabs h2.offscreen,
	.dynamicTabs h3.offscreen			{ position: static!important; font-size: 1.5em}
	.skipLink							{ position: static; width:auto; height:auto; margin-bottom:1.5em}
	
	/* JS carousels - don't display on small screens  ************************/ 
	.homeCarousel, .subCatCarousel,		/* mobile version is available */
	.imageSlider 	{ display:none}
}

@media only screen and ( max-width: 500px) {
    div.videoGallery iframe.youtube,
    div.media.frame iframe.youtube         { width:380px; height: 214px; }    /* youTube mobile recommanded sizes  */
   	div#swfContainer div#Frame              { width:380px; height: 253px; }    /* non-Flash 360, image ratio: 4:3; original image 400x300 */
    .media .imageGallery .frameLg .inner    { height: 280px;  }
}
    



 /* #IE 6-8 bugs
=================================================================================================================== */
 /* IE 6 - 8, set the page width, the site is not responsive */

.ie .shadow1	{ background-color: #f9f9f9; }
.ie .clearfix 	{ zoom: 1; }   /* triggers hasLayout */
/* boxes */
.ie .box.style1			{ padding:10px; border: 1px solid #d9d9d9; background-color: #f0f0f0; -moz-box-shadow: inset 0 0 25px #cbcbcb; -webkit-box-shadow: inset 0 0 25px #cbcbcb; box-shadow: inset 0 0 25px #cbcbcb; }	
.ie .box.style1 .inner	{ padding:10px}
.ie7 .utilNav .button	{ float:none;}	

.ie7 .frame,
.ie8 .frame	{ border: 1px solid #ccc}

