html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

#content.container {
  max-width: none; }

.twoCol70-30 .colMain {
  width: 100% !important;
  margin: 0 !important; }

.twoCol70-30 .colAside {
  display: none !important; }

#ctl00_ContentPlaceHolderAll_divSection.section {
  width: 100%;
  max-width: none;
  background-color: transparent;
  padding: 0; }

.twoCol70-30 .colMain {
  width: 100% !important;
  margin: 0 !important; }

.twoCol70-30 .colAside {
  display: none !important; }

.smallHero {
  display: none; }

.wrap {
  position: relative;
  background-color: #fff; }
  .wrap img {
    max-width: 100%;
    height: auto; }

.section {
  max-width: 1200px;
  width: 98%; }

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Medium.eot");
  src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.svg#Gotham-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Rounded Book';
  src: url("../fonts/GothamRounded-Book.eot");
  src: url("../fonts/GothamRounded-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Book.woff2") format("woff2"), url("../fonts/GothamRounded-Book.woff") format("woff"), url("../fonts/GothamRounded-Book.ttf") format("truetype"), url("../fonts/GothamRounded-Book.svg#GothamRounded-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Georgia';
  src: url("../fonts/Georgia-BoldItalic.woff2") format("woff2"), url("../fonts/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

.clear, .header .header-wrapper .col6 .user-block .search-block:before, .header .header-wrapper .col6 .user-block .search-block:after, .header .header-wrapper:before, .header .header-wrapper:after, .main-content .content-wrapper:before, .main-content .content-wrapper:after, .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content .comment-list .comment-block .comment-wrapper .comment-col-10 .comment-content .comment-head:before, .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content .comment-list .comment-block .comment-wrapper .comment-col-10 .comment-content .comment-head:after, .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content .comment-list .comment-block .comment-wrapper:before, .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content .comment-list .comment-block .comment-wrapper:after, .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content .comment-list:before, .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content .comment-list:after, .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper:before, .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper:after, .login .login-banner .login-content:before, .login .login-banner .login-content:after {
  content: '';
  display: block;
  clear: both; }

.header {
  background: #f4f4f4;
  padding: 15px 0; }
  .header .header-wrapper {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 767px) {
      .header .header-wrapper {
        display: block; } }
    .header .header-wrapper .col6 {
      width: calc(50% - 30px);
      margin: 0 15px;
      float: left; }
      @media only screen and (max-width: 767px) {
        .header .header-wrapper .col6 {
          width: calc(100% - 30px); } }
      @media only screen and (max-width: 767px) {
        .header .header-wrapper .col6 .content-logo {
          text-align: center;
          margin-bottom: 20px; } }
      .header .header-wrapper .col6 .user-block {
        float: right;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500; }
        @media only screen and (max-width: 767px) {
          .header .header-wrapper .col6 .user-block {
            float: none; } }
        .header .header-wrapper .col6 .user-block .user {
          text-align: right;
          color: #4b4848;
          margin-bottom: 10px;
          font-size: 12px; }
          @media only screen and (max-width: 767px) {
            .header .header-wrapper .col6 .user-block .user {
              text-align: center; } }
        .header .header-wrapper .col6 .user-block .search-block .search-float {
          float: left;
          margin-left: 10px; }
          @media only screen and (max-width: 767px) {
            .header .header-wrapper .col6 .user-block .search-block .search-float {
              margin-left: 0; } }
          .header .header-wrapper .col6 .user-block .search-block .search-float input {
            border: 1px solid #d2d1d1;
            border-radius: 5px;
            padding: 8px;
            box-shadow: none; }
          .header .header-wrapper .col6 .user-block .search-block .search-float button {
            background: #d11b59;
            border: 1px solid #d11b59;
            padding: 4px 8px;
            border-radius: 5px;
            -webkit-transition: all 0.25s ease;
            -moz-transition: all 0.25s ease;
            transition: all 0.25s ease; }
            .header .header-wrapper .col6 .user-block .search-block .search-float button:hover {
              cursor: pointer;
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              -o-transform: scale(1.1);
              transform: scale(1.1);
              background: #bd1b52; }
          @media only screen and (max-width: 767px) {
            .header .header-wrapper .col6 .user-block .search-block .search-float.search, .header .header-wrapper .col6 .user-block .search-block .search-float.type {
              width: calc(40% - 30px);
              margin: 0 15px; } }
          @media only screen and (max-width: 520px) {
            .header .header-wrapper .col6 .user-block .search-block .search-float.search, .header .header-wrapper .col6 .user-block .search-block .search-float.type {
              width: calc(40% - 20px);
              margin: 0 10px; } }
          @media only screen and (max-width: 400px) {
            .header .header-wrapper .col6 .user-block .search-block .search-float.search, .header .header-wrapper .col6 .user-block .search-block .search-float.type {
              width: calc(38% - 10px);
              margin: 0 5px; } }
          .header .header-wrapper .col6 .user-block .search-block .search-float.search input, .header .header-wrapper .col6 .user-block .search-block .search-float.type input {
            width: 100%; }
          @media only screen and (max-width: 767px) {
            .header .header-wrapper .col6 .user-block .search-block .search-float.search-btn {
              width: 36px;
              margin: 0 5px; } }

.main-content {
  margin: 60px; }
  @media only screen and (max-width: 520px) {
    .main-content {
      margin: 20px 0; } }
  .main-content .content-wrapper .col4 {
    width: calc(25% - 30px);
    margin: 15px;
    float: left; }
    @media only screen and (max-width: 767px) {
      .main-content .content-wrapper .col4 {
        width: calc(50% - 30px); } }
    @media only screen and (max-width: 360px) {
      .main-content .content-wrapper .col4 {
        width: calc(100% - 30px); } }
    .main-content .content-wrapper .col4 .content-block {
      border: 1px solid #77777a;
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      transition: all 0.25s ease;
      border-radius: 2px; }
      .main-content .content-wrapper .col4 .content-block a {
        display: block;
        position: relative; }
        .main-content .content-wrapper .col4 .content-block a img {
          width: 100%;
          display: block; }
        .main-content .content-wrapper .col4 .content-block a h5 {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 0;
          right: 0;
          font-size: 27px;
          font-family: 'Gotham';
          font-weight: 500;
          color: #77777a;
          text-align: center; }
          @media only screen and (max-width: 1024px) {
            .main-content .content-wrapper .col4 .content-block a h5 {
              font-size: 20px; } }
      .main-content .content-wrapper .col4 .content-block:hover {
        border: 1px solid #d11b59; }
      .main-content .content-wrapper .col4 .content-block.yellow:hover {
        border: 1px solid #ffcc33; }
        .main-content .content-wrapper .col4 .content-block.yellow:hover h5 {
          color: #ffcc33; }
      .main-content .content-wrapper .col4 .content-block.green:hover {
        border: 1px solid #477707; }
        .main-content .content-wrapper .col4 .content-block.green:hover h5 {
          color: #477707; }
      .main-content .content-wrapper .col4 .content-block.purplebasil:hover {
        border: 1px solid #7c2582; }
        .main-content .content-wrapper .col4 .content-block.purplebasil:hover h5 {
          color: #7c2582; }
      .main-content .content-wrapper .col4 .content-block.orange:hover {
        border: 1px solid #d44300; }
        .main-content .content-wrapper .col4 .content-block.orange:hover h5 {
          color: #d44300; }
      .main-content .content-wrapper .col4 .content-block.chocolate:hover {
        border: 1px solid #946f49; }
        .main-content .content-wrapper .col4 .content-block.chocolate:hover h5 {
          color: #946f49; }
      .main-content .content-wrapper .col4 .content-block.lime:hover {
        border: 1px solid #b6bd00; }
        .main-content .content-wrapper .col4 .content-block.lime:hover h5 {
          color: #b6bd00; }
      .main-content .content-wrapper .col4 .content-block.cheddar:hover {
        border: 1px solid #ffcc33; }
        .main-content .content-wrapper .col4 .content-block.cheddar:hover h5 {
          color: #ffcc33; }
      .main-content .content-wrapper .col4 .content-block.eggplant:hover {
        border: 1px solid #9d629c; }
        .main-content .content-wrapper .col4 .content-block.eggplant:hover h5 {
          color: #9d629c; }
      .main-content .content-wrapper .col4 .content-block.spinach:hover {
        border: 1px solid #23583f; }
        .main-content .content-wrapper .col4 .content-block.spinach:hover h5 {
          color: #23583f; }
      .main-content .content-wrapper .col4 .content-block.pink:hover {
        border: 1px solid #d11b59; }
        .main-content .content-wrapper .col4 .content-block.pink:hover h5 {
          color: #d11b59; }
  .main-content .individual-content {
    max-width: 915px;
    width: 100%;
    margin: 0 auto; }
    .main-content .individual-content .individual-block {
      border: 1px solid #77777a;
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      transition: all 0.25s ease;
      margin-bottom: 25px; }
      .main-content .individual-content .individual-block.title-individual {
        background: #ffcc33;
        padding: 30px;
        text-align: center;
        border: 1px solid #ffcc33; }
        .main-content .individual-content .individual-block.title-individual h4 {
          font-size: 32px;
          color: #ffffff;
          margin-bottom: 0;
          font-family: 'Gotham';
          font-weight: 500;
          text-transform: uppercase; }
          @media only screen and (max-width: 1024px) {
            .main-content .individual-content .individual-block.title-individual h4 {
              font-size: 28px; } }
        .main-content .individual-content .individual-block.title-individual.yellow {
          background: #ffcc33;
          border: 1px solid #ffcc33; }
        .main-content .individual-content .individual-block.title-individual.green {
          background: #477707;
          border: 1px solid #477707; }
        .main-content .individual-content .individual-block.title-individual.purplebasil {
          background: #7c2582;
          border: 1px solid #7c2582; }
        .main-content .individual-content .individual-block.title-individual.orange {
          background: #d44300;
          border: 1px solid #d44300; }
        .main-content .individual-content .individual-block.title-individual.chocolate {
          background: #946f49;
          border: 1px solid #946f49; }
        .main-content .individual-content .individual-block.title-individual.lime {
          background: #b6bd00;
          border: 1px solid #b6bd00; }
        .main-content .individual-content .individual-block.title-individual.cheddar {
          background: #ffcc33;
          border: 1px solid #ffcc33; }
        .main-content .individual-content .individual-block.title-individual.eggplant {
          background: #9d629c;
          border: 1px solid #9d629c; }
        .main-content .individual-content .individual-block.title-individual.spinach {
          background: #23583f;
          border: 1px solid #23583f; }
        .main-content .individual-content .individual-block.title-individual.pink {
          background: #d11b59;
          border: 1px solid #d11b59; }
      .main-content .individual-content .individual-block a {
        position: relative;
        display: block; }
        .main-content .individual-content .individual-block a img {
          width: 100%;
          display: block; }
        .main-content .individual-content .individual-block a h5 {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 0;
          right: 0;
          font-size: 27px;
          font-family: 'Gotham';
          font-weight: 500;
          color: #77777a;
          text-align: center; }
          @media only screen and (max-width: 1024px) {
            .main-content .individual-content .individual-block a h5 {
              font-size: 20px; } }
      .main-content .individual-content .individual-block.toggle .toggle-body {
        display: none;
        border-top: 2px solid #e2e2e2;
        padding: 30px 0;
        font-family: 'Gotham Rounded Book'; }
        .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 {
          width: calc(100% - 30px);
          margin: 0 15px;
          float: left; }
          @media only screen and (max-width: 767px) {
            .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 {
              width: calc(100% - 20px);
              margin: 0 10px; } }
          .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content ul {
            font-family: 'Gotham Rounded Book';
            color: #555555; }
            .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content ul li {
              list-style-type: disc;
              font-size: 20px;
              margin-bottom: 20px; }
              @media only screen and (max-width: 1024px) {
                .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content ul li {
                  font-size: 18px; } }
              @media only screen and (max-width: 767px) {
                .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content ul li {
                  font-size: 16px; } }
              .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content ul li a {
                float: right;
                font-size: 18px;
                color: #000000;
                background: #e2e2e2;
                text-decoration: none;
                padding: 5px 25px;
                -webkit-transition: background 0.25s ease;
                -moz-transition: background 0.25s ease;
                transition: background 0.25s ease;
                margin: 0 5px 10px 0; }
                .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content ul li a:hover {
                  background: #d4d4d4; }
                @media only screen and (max-width: 1024px) {
                  .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content ul li a {
                    font-size: 16px; } }
                @media only screen and (max-width: 767px) {
                  .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content ul li a {
                    font-size: 14px; } }
                @media only screen and (max-width: 480px) {
                  .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content ul li a {
                    display: block;
                    float: none;
                    margin-top: 20px;
                    text-align: center; } }
                .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content ul li a.list-toggle {
                  padding: 5px 10px; }
                  @media only screen and (max-width: 480px) {
                    .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content ul li a.list-toggle {
                      display: inline-block;
                      float: right;
                      margin-top: 0; } }
                  .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content ul li a.list-toggle.on .fa-angle-down:before {
                    content: "\f106"; }
              .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content ul li ol.list-body {
                display: none; }
                .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content ul li ol.list-body li {
                  margin-bottom: 0;
                  list-style-type: decimal; }
          .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content form textarea {
            width: 100%;
            border: 0;
            background: #f5f5f5; }
          .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content form button {
            font-size: 18px;
            margin: 15px 0;
            color: #000000;
            background: #e2e2e2;
            padding: 5px 25px;
            border: none;
            -webkit-transition: background 0.25s ease;
            -moz-transition: background 0.25s ease;
            transition: background 0.25s ease; }
            .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content form button:hover {
              background: #d4d4d4;
              cursor: pointer; }
          .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content .comment-list .comment-block {
            padding: 15px 0;
            border-bottom: 1px solid #e2e2e2;
            width: calc(50% - 30px);
            margin: 0 15px;
            float: left; }
            @media only screen and (max-width: 767px) {
              .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content .comment-list .comment-block {
                width: calc(100% - 30px); } }
            .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content .comment-list .comment-block .comment-wrapper .comment-col-2 {
              width: 10%;
              float: left; }
            .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content .comment-list .comment-block .comment-wrapper .comment-col-10 .comment-content {
              width: calc(90% - 30px);
              float: left;
              margin: 0 15px; }
              .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content .comment-list .comment-block .comment-wrapper .comment-col-10 .comment-content .comment-head {
                margin-bottom: 15px; }
                .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content .comment-list .comment-block .comment-wrapper .comment-col-10 .comment-content .comment-head .name {
                  float: left;
                  font-family: 'Gotham';
                  font-weight: 500;
                  font-size: 16px; }
                .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content .comment-list .comment-block .comment-wrapper .comment-col-10 .comment-content .comment-head .date {
                  float: right;
                  font-size: 12px; }
              .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content .comment-list .comment-block .comment-wrapper .comment-col-10 .comment-content .comment p {
                margin-bottom: 0;
                font-size: 12px; }
            .main-content .individual-content .individual-block.toggle .toggle-body .toggle-wrapper .toggle-col-12 .toggle-content .comment-list .comment-block:last-child {
              border-bottom: none; }
        .main-content .individual-content .individual-block.toggle .toggle-body p.test-para {
          padding: 0 15px; }
      .main-content .individual-content .individual-block.green:hover, .main-content .individual-content .individual-block.green:focus, .main-content .individual-content .individual-block.green:active {
        border-color: #477707; }
        .main-content .individual-content .individual-block.green:hover a h5, .main-content .individual-content .individual-block.green:focus a h5, .main-content .individual-content .individual-block.green:active a h5 {
          color: #477707; }
      .main-content .individual-content .individual-block.purplebasil:hover, .main-content .individual-content .individual-block.purplebasil:focus, .main-content .individual-content .individual-block.purplebasil:active {
        border-color: #7c2582; }
        .main-content .individual-content .individual-block.purplebasil:hover a h5, .main-content .individual-content .individual-block.purplebasil:focus a h5, .main-content .individual-content .individual-block.purplebasil:active a h5 {
          color: #7c2582; }
      .main-content .individual-content .individual-block.orange:hover, .main-content .individual-content .individual-block.orange:focus, .main-content .individual-content .individual-block.orange:active {
        border-color: #d44300; }
        .main-content .individual-content .individual-block.orange:hover a h5, .main-content .individual-content .individual-block.orange:focus a h5, .main-content .individual-content .individual-block.orange:active a h5 {
          color: #d44300; }

.footer .footer-content {
  border-top: 2px solid #77777a; }
  .footer .footer-content ul {
    margin: 40px; }
    .footer .footer-content ul li {
      display: inline-block; }
      .footer .footer-content ul li a {
        color: #4b4848;
        text-decoration: none;
        -webkit-transition: color 0.25s ease;
        -moz-transition: color 0.25s ease;
        transition: color 0.25s ease; }
        .footer .footer-content ul li a:hover {
          color: #d11b59; }

.login {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  position: relative; }
  .login .login-banner {
    background-image: url("../images/login-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center; }
    .login .login-banner .login-content {
      max-width: 1180px;
      width: 96%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 767px) {
        .login .login-banner .login-content {
          display: block; } }
      .login .login-banner .login-content .col6 {
        width: calc(50% - 30px);
        margin: 15px;
        float: left; }
        @media only screen and (max-width: 767px) {
          .login .login-banner .login-content .col6 {
            width: calc(100% - 30px); } }
        .login .login-banner .login-content .col6 .login-desc {
          color: #ffffff; }
          .login .login-banner .login-content .col6 .login-desc h2 {
            font-size: 42px;
            font-weight: 700; }
            @media only screen and (max-width: 1024px) {
              .login .login-banner .login-content .col6 .login-desc h2 {
                font-size: 36px; } }
            @media only screen and (max-width: 767px) {
              .login .login-banner .login-content .col6 .login-desc h2 {
                font-size: 32px; } }
            .login .login-banner .login-content .col6 .login-desc h2 span {
              font-family: 'Georgia';
              font-weight: bold;
              font-style: italic; }
          .login .login-banner .login-content .col6 .login-desc p {
            font-size: 18px; }
            @media only screen and (max-width: 1024px) {
              .login .login-banner .login-content .col6 .login-desc p {
                font-size: 16px; } }
            @media only screen and (max-width: 767px) {
              .login .login-banner .login-content .col6 .login-desc p {
                font-size: 14px; } }
        .login .login-banner .login-content .col6 .login-block {
          text-align: center;
          background: #f3f1f1;
          border: 1px solid #d2d1d1;
          max-width: 430px;
          width: 96%;
          margin: 0 auto;
          padding: 30px;
          -webkit-box-shadow: 0px 6px 14px -5px rgba(0, 0, 0, 0.66);
          -moz-box-shadow: 0px 6px 14px -5px rgba(0, 0, 0, 0.66);
          box-shadow: 0px 6px 14px -5px rgba(0, 0, 0, 0.66); }
          @media only screen and (max-width: 767px) {
            .login .login-banner .login-content .col6 .login-block {
              padding: 15px; } }
          .login .login-banner .login-content .col6 .login-block img {
            margin: 30px 0; }
            @media only screen and (max-width: 767px) {
              .login .login-banner .login-content .col6 .login-block img {
                margin: 15px 0; } }
          .login .login-banner .login-content .col6 .login-block p {
            font-size: 15px; }
            @media only screen and (max-width: 1024px) {
              .login .login-banner .login-content .col6 .login-block p {
                font-size: 14px; } }
            @media only screen and (max-width: 767px) {
              .login .login-banner .login-content .col6 .login-block p {
                font-size: 12px; } }
          .login .login-banner .login-content .col6 .login-block form input {
            display: block;
            width: 100%;
            margin: 20px 0;
            padding: 15px;
            border: none;
            border-radius: 10px; }
            .login .login-banner .login-content .col6 .login-block form input::placeholder {
              font-family: 'Montserrat', sans-serif;
              font-weight: 400;
              font-size: 14px;
              text-transform: uppercase; }
            .login .login-banner .login-content .col6 .login-block form input#email {
              background: url("../images/email-icon.png") #ffffff;
              background-position: 96%;
              background-repeat: no-repeat; }
            .login .login-banner .login-content .col6 .login-block form input#password {
              background: url("../images/pw-icon.png") #ffffff;
              background-position: 96%;
              background-repeat: no-repeat; }
          .login .login-banner .login-content .col6 .login-block form button {
            margin: 10px 0;
            width: 100%;
            padding: 10px;
            font-size: 28px;
            text-transform: uppercase;
            background: #c8102e;
            border-color: #c8102e;
            color: #ffffff;
            border-radius: 10px;
            -webkit-transition: all 0.25s ease;
            -moz-transition: all 0.25s ease;
            transition: all 0.25s ease; }
            .login .login-banner .login-content .col6 .login-block form button:hover {
              -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.66);
              -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.66);
              box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.66);
              cursor: pointer; }
            @media only screen and (max-width: 1024px) {
              .login .login-banner .login-content .col6 .login-block form button {
                font-size: 24px; } }
            @media only screen and (max-width: 767px) {
              .login .login-banner .login-content .col6 .login-block form button {
                font-size: 20px; } }
          .login .login-banner .login-content .col6 .login-block a {
            margin: 10px 0;
            display: inline-block;
            text-decoration: none;
            color: #000000;
            -webkit-transition: all 0.25s ease;
            -moz-transition: all 0.25s ease;
            transition: all 0.25s ease;
            font-size: 16px; }
            .login .login-banner .login-content .col6 .login-block a:hover {
              color: #c8102e; }
            @media only screen and (max-width: 1024px) {
              .login .login-banner .login-content .col6 .login-block a {
                font-size: 15px; } }
            @media only screen and (max-width: 767px) {
              .login .login-banner .login-content .col6 .login-block a {
                font-size: 14px; } }
          .login .login-banner .login-content .col6 .login-block .register {
            border-top: 2px solid #e2e2e2;
            margin-top: 40px;
            padding: 15px 0 0; }
            @media only screen and (max-width: 767px) {
              .login .login-banner .login-content .col6 .login-block .register {
                margin-top: 20px; } }
            .login .login-banner .login-content .col6 .login-block .register a {
              color: #477707;
              margin: 0; }
              .login .login-banner .login-content .col6 .login-block .register a:hover {
                color: #c8102e; }
